@{ ViewData["Title"] = "Информация о сотрудниках"; }
@model List<staff>

<form asp-antiforgery="true">
    <div id="m">
        <div class="container">
            <div class="row centered">
                <h1>Информация о сотрудниках</h1>
                <table>
                    <tr>
                        <td>
                            @foreach (staff staf in Model)
                               {
                                   <b>@($"{staf.Surname} {staf.Name} {staf.Firdname}")</b>  <a href="/Home/DeleteStaff?id=@staf.ID_Staff">Удалить</a><br/>
                               }
                        </td>
                        <td>
                            <button asp-action="AddStaff" class="twice__button">Добавить сотрудника</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</form>