@{
    ViewData["Title"] = "Расписание";
}
<h1>Расписание</h1>
<table>
    <tr>
        <td>
            <select name="" id="">
                <option value="1">Вариант 1</option>
                <option value="2">Вариант 2</option>
            </select>
        </td>
        <td>
            <button class="twice__button">Добавить расписание</button>
            <button class="twice__button">Удалить</button>
        </td>
    </tr>
</table>