@using WebRailwayApp.Models
@model LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="~/css/authorization.css">
</head>
<body>
    <div class="for_form">
        <form asp-action="Authorization" asp-controller="Auth" method="post" asp-antiforgery="true" class="form">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <h1 class="form__title">Railway</h1>
            <h4 class="form__name">Авторизация</h4>

            <div class="form__group">
                <input asp-for="Login" type="text" class="form__input" placeholder=" ">
                <label class="form__label">Логин</label>
                <span asp-validation-for="Login"></span>
            </div>

            <div class="form__group">
                <input asp-for="Password" type="text" class="form__input" placeholder=" ">
                <label class="form__label">Пароль</label>
                <span asp-validation-for="Password"></span>
            </div>

            <button type="submit" class="form__button">Войти</button>
        </form>
    </div>
</body>
</html>

